<div class="container-fluid">
    <div class="row">
        <div class="top col-12">
            <div>
                <h1>Your score: {{(statistic | async)?.score}}</h1>
                <p> Money per Click {{(statistic | async)?.pointsPerClick}}</p>
                <p> Money per Click {{(statistic | async)?.pointsPerSecond}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mid-left col-8">
            <h1>*title*</h1>
            <div class="main-button" (click)="click()"></div>
            <div>
                <h4>Money:</h4>
            </div>
            <div>
                <h1>${{(statistic | async)?.money}}</h1>
                <h1>{{roundCost}}</h1>
                
            </div>
        </div>
        <div class="mid-right col-4">
            <div class="shop-button"  *ngFor="let item of actualUpgrades | async; let i = index;" (click)="upgrade(i)">
                <p class="button-text name">{{(actualUpgrades | async)[i]?.name}}</p>
                <p class="button-text">Lvl: {{(statistic | async)?.upgradeLvls[i].upgradeLvl}}</p>
                <p class="button-text">Stats: {{(actualUpgrades | async)[i]?.pointsPerClick}}/{{(actualUpgrades | async)[i]?.pointsPerSecond}}</p>
                <p class="button-text">Cost: {{(actualUpgrades | async)[i]?.cost}}$</p>
            </div>
            <!--
                <div class="shop-button" (click)="upgradeSeconds()">
                <p>+1/s</p>
                <p>100$</p>
            </div>
            <div class="shop-button"><a value="spl1" (click)="upgrade()"></a></div>
            <div class="shop-button"><a value="spl1" (click)="upgrade()"></a></div>
            -->

        </div>
    </div>

</div>