:root {
    --first-color: #086788;
    --second-color: #07A0C3;
    --third-color: #F0C808;
    --fourth-color: #FFF1D0;
    --fifth-color: #DD1C1A;
    --btn-available: #9BE564;

}
.spells-text {
    font-size: 36px;
    font-weight: bold;
}
.stats-box {
    display: flex;
    flex-direction: column;
}
.col-4 {
    padding: 0;
}
p {
    margin: 0;
}
.upgrades {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    margin: 0;
}
.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.stats-small {
    font-size: 14px;
}
.col-8 {
    min-height: 800px;
}
.upgrades-head {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.upgrades-main {
    display: flex;
    flex: 15;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
.upgrades-main-elem {
    display: flex;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
div {
    color: #444554;
}
.container-fluid {
    background: #172121;
}
.game {
    padding: 5px;
    margin: 0;
    background: #172121;
}
.game-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-button {
    width: 200px;
    height: 200px;
    background-color: #BFACB5;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
}
.shop-button {
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
    flex: 1;
    width: 100%;
    background-color: #7F7B82;
}
.button-text {
    font-size: 10px;
    font-weight: bold;
    color: black;
    margin: 0;
}
.name {
    font-size: 14px;
}
.green {
    border-color: #7F7B82;
    background-color: #7F7B82;
}
.red {
    border-color: #E5D0CC;
    background-color: #E5D0CC;
}
.deactivated {
    border-color: gray;
}
.user {
    display: flex;
    flex-direction: column;
}
.font-center {
    text-align: center;
}
.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}
.body {
    background: #172121;
}
.html {
    background: #172121;
}