<div class="container-fluid">
    <div class="row">
        <div class="top col-12">
            <div>
                <h1>Your score: {{(statistic | async)?.score}}</h1>
                <p> Money per Click {{(statistic | async)?.pointsPerClick}}</p>
                <p> Money per Second {{(statistic | async)?.pointsPerSecond}}</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="mid-left col-8">
            <h1>*title*</h1>
            <div class="main-button shadow p-3 mb-5" (click)="click()"></div>
            <div>
                <h4>Money:</h4>
            </div>
            <div>
                <h1>${{(statistic | async)?.money}}</h1>
            </div>
        </div>
        <div class="mid-right col-4">
            <div *ngFor="let item of actualUpgrades | async; let i = index;" (click)="upgrade(i)">
                <div class="shadow p-3 mb-5 shop-button" *ngIf="((statistic | async)?.score >= (i * 1000))" [ngClass]="((statistic | async)?.money >= (actualUpgrades | async)[i]?.cost)?'green':'red'">
                    <p class="button-text name">{{(actualUpgrades | async)[i]?.name}}</p>
                    <p class="button-text">Lvl: {{(statistic | async)?.upgradeLvls[i].upgradeLvl}}</p>
                    <p class="button-text">Stats:
                        {{(actualUpgrades | async)[i]?.pointsPerClick}}/{{(actualUpgrades | async)[i]?.pointsPerSecond}}
                    </p>
                    <p class="button-text">Cost: {{(actualUpgrades | async)[i]?.cost}}$</p>
                </div>
            </div>
        </div>
    </div>
</div>